body{
    background-color: rgb(7, 3, 15);
}

input{
    background: #ccc;
    width: 100%;
    margin-top: 20px;
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    height: 50px;

   
}



.users{
    
    margin-top:30px;
    width:100%;
    height:100px;
    position: absolute;
    
    grid-template-columns: 1fr 2fr;
}

img{
    border-radius:50%;
    width: 100px;
    margin-left: 10px;
}

h1{
     color: blanchedalmond;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 40px;
     display: inline;
     padding-top: 100px;
     position: relative;
     top:20px;
     
    
    }
.container{
            color: blanchedalmond;
            
    }

.col-sm-8{
   padding: 20px;
   border: 5px solid wheat;
   width: 100%;
   display:grid;
   grid-template-columns: 6fr 3fr 3fr;

}

@media screen and (min-width: 480px) {
    .col-sm-8 {
        grid-template-columns: 6fr 3fr 3fr ;
    }
  }

a{
    text-decoration: none;
    font-size: 20px;
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fa-code-branch{
   color: wheat;
   padding-left: 30px;
}


.fa-



